@page "/collections/{type}"
@page "/stats/{type}"
@using Tseng.Models
@using Tseng.Services
@using System.ComponentModel

@inject IGameService GameService;

@if (!_isLoading && _gameData is not null)
{

    switch (Type.ToLower())
    {
        case "gil":
            <span class="gil">@_gameData.SaveMap.Gil Gil</span>
            break;
        case "disc":
            <span class="disc">Disc @_gameData.SaveMap.GameDisc / 3</span>
            break;
        case "time":
            <span class="time">@_gameData.PlayTime</span>
            break;
    }
}
@code {

    bool _isLoading;

    GameData? _gameData;


    protected override async Task OnInitializedAsync()
    {
        if (_isLoading) return;

        _isLoading = true;
        _gameData = GameService.GameData;
        GameService.GameData.PropertyChanged += OnGameDataOnPropertyChanged;


        var tokenSource = new CancellationTokenSource();

        await GameService.StartMonitoring(tokenSource.Token);
        _isLoading = false;

    }

    private async void OnGameDataOnPropertyChanged(object? o, PropertyChangedEventArgs propertyChangedEventArgs)
    {
        await InvokeAsync(StateHasChanged);
    }
    [Parameter]
    public string Type { get; set; }
}