@using Tseng.Services
@inject ICounterService CounterService

<h1>Counter</h1>

<p>Current count: @CounterService.Count</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();

        CounterService.PropertyChanged += async (_, _) => await InvokeAsync(StateHasChanged);
    }

    private void IncrementCount()
    {
        CounterService.Count++;
    }
}