<div class="ff7" style="background: rgb(0, 0, @Blue); box-sizing: border-box; margin: 4px;@(Fill? "width: calc(100% - 12px); height: calc(100% - 12px);" : "")">
    <div class="layer border"></div>
    <div class="text">
        @ChildContent
    </div>
</div>


@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public bool Fill { get; set; } = false;

    public int[][] Colors = {
        new[] {0, 0, 176, 0},
        new[] {0, 0, 80, 0},
        new[] {0, 0, 128, 0},
        new[] {0, 0, 32, 0},
    };

    int Blue => GetColorAverage(176, 80, 128, 32);
    
    private static int GetColorAverage(params int[] values)
    {
        double sum = values.Sum(v => v * v);
        var mean = Math.Sqrt(sum / values.Length);
        return (int) Math.Round(mean);
    }
}